<h1>show</h1>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<li><%= link_to "back", index_path %></li>

<li><%= link_to "edit a task", edit_path %></li>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
